# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.ansible/
.terraform.d/
.terraform.lock.hcl

# Shell
.bash_history
.viminfo
.sudo_as_admin_successful
.local/
.vscode/

# Secrets / keys
*.pem
*.key
.aws/
.ssh/
.kube/
.gitconfig

# Python / app artifacts (optional safety)
.venv/
__pycache__/
*.pyc
.env

# But include test files and specific Python files
!src/test/*.py
!src/test/**/*.py
!requirements.txt
!pyproject.toml
*.toml
uv.lock
tickets.db

# App backups / versions
app_*
main.py

#Include Dockerfiles
!.dockerignore
!Dockerfile
!docker-compose-postgres.yaml
!DOCKER_README.md
!README.md
!requirements.txt