Flask>=3.0.3
Werkzeug>=3.0.3
psycopg2-binary==2.9.9
python-json-logger
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-logging
python-dotenv
Flask-WTF
WTForms
pip>=25.3
